.wrap-body{
    padding: 0 250px
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.col-2-6{
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    width: 100%;
}

.col-3-5{
    grid-column-start: 3;
    grid-column-end: 7;
    width: 100%;
}
.col-3-6{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}
.col-3-7{
    grid-column-start: 4;
    grid-column-end: 7;
    width: 100%;
}
.col-3-8{
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
}
.col-3-9{
    grid-column-start: 5;
    grid-column-end: 7;
    width: 100%;
}